.container{

}
/*页眉*/
.public-header{
    height: 144px;
    border-top: 3px solid #1A5EAD;
    background: url("../images/public-header-bgd.png") repeat-x;
}

.public-header-top-container{
    height: 26px;
    width: 1054px;
    position: relative;
    margin: 0 auto;
}

.language{
    float: right;
    background-color: #2566B1;
    width: 140px;
    height: 26px;
    background: url("../images/header-top-nav.png") no-repeat;
    margin-right: 24px;
}

.language a{
    float: left;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-left: 18px;
}

.public-header-middle-container{
    height: 82px;
    width: 934px;
    position: relative;
    margin: 0 auto;


}

.public-header .public-header-logo{
    float: left;
    margin-top: 4px;
    background: url("../images/header-logo.png");
}

.public-header .public-header-logo a{
    width: 276px;
    height: 64px;
}

.public-header-nav .item {
    float: right;
    /*font-family:Verdana, Arial, Helvetica, sans-serif;*/
    font-weight: bold;
    font-size: 14px;
    padding-top: 32px;
    margin-left: 50px;
    list-style-type: square;
}

.public-header-nav a{
    color: #999;
    font-size: 6px;
    margin-right: 20px;
}

.public-header-nav2{
    height: 35px;
    background-color: #244794;
    padding-left: 163px;
}



.public-header-nav2 .item1{
    float: left;
    height: 35px;
    list-style: none;
    width: 180px;
}

.public-header-nav2 .item1>a{
    display: block;
    border-left: 1px solid #00AAEF;
    text-decoration: none;
    color: #fff;
    line-height: 35px;
    text-align: center;
}

.public-header-nav2 .item1 .item15{
    border-right: 1px solid #00AAEF;
}


.public-header-nav2 .item{
    font-size: 12px;
    width: 180px;
    margin: auto;
    background-color: #244794;
    opacity: 0.85;
    filter:"alpha(opacity=50)";
    -ms-filter: "alpha(opacity=50)";/*旧版IE*/
}

.public-header-nav2 #hdn1,.public-header-nav2 #hdn2,.public-header-nav2 #hdn3,.public-header-nav2 #hdn5{
    display: none;
    position: absolute;
    z-index: 999999;
}

.public-header-nav2 .item>a{
    text-decoration: none;
    width: 180px;
    margin-bottom: 8px;
    display: inline-block;
    text-align: center;
    color: #fff;
}




/*页脚*/
.public-footer{
    height: 78px;
    background-color: #183B8C;
}

.public-footer-container{
    width: 1002px;
    height: 50px;
    position: relative;
    margin:0 auto;

}

.public-footer-logo{
    width:170px;
    height: 36px;
    background: url("../images/footer-logo.png");
    float: left;
    margin-top: 16px;

}
.public-footer-logo>a{
    width: 160px;
    height: 40px;
}

.public-footer-ico a{
    height: 28px;
    float: left;
    margin-top: 26px;
    width: 24px;
    background: url("../images/footer-ico.png");
}

.public-footer-ico .public-footer-ico1{
    margin-left: 37px;
}

.public-footer-ico .public-footer-ico2{
    background-position: 60px 27px;
    margin-left: 12px;
}

.public-footer-ico .public-footer-ico3{
    background-position: 28px 27px;
    margin-left: 12px;
}

.public-footer-text{
    float: right;
    color: #fff;
    margin-top: -26px;
    font-size: 10px;
    font-weight: 200;
}